body {
    max-width: 1920px;
    background-color: black;
}


h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
}

.container2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
}

img {
    max-width: 60%;
    max-height: 60%;
    align-self: right;
}

.bodytext {
    font-size: 15px;
    color: white;
    max-width: 920px;
}

.annotation {
    text-align: right;
    font-family: cursive;
    color: white;

}



