body {
    max-height: 1080px; 
    max-width: 1920px;
    background-color: black;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
}

.container2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
}



img {
    max-width: 22%;
    max-height: 22%;
    float: right;
}

.bodytext {
    font-size: 21px;
    color: white;
    max-width: 920px;
}

.annotation {
    text-align: right;
    font-family: cursive;
    color: white;
}

.links {
    color: white;
    text-align: center;
}



